.logo {
    position: absolute;
    top: 10px;
    width: 60px; /* Atur sesuai kebutuhan */
    z-index: 10;
    margin-bottom : 20px;
    margin-top: 0px;
    margin-right: 6px;
    margin-left: 10px;

}
.garis {
    border: 1px;
    height: 1px;
    background: hsl(0, 0%, 20%);
    margin-top: 20px;
}
#C {
    text-align: auto;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.menu a {
    display: inline-block;
    width: 100px;           /* Ukuran box sama */
    text-align: center;     /* Teks di tengah */
    padding: 6px 0;
    background: #fff;
    color: #000000;
    border: 2px solid #6c6666;
    border-radius: 0;
    text-decoration: none;
    font-size: 12px;
    font-family: inherit;
    transition: background 0.2s, color 0.2s, border 0.2s;
    box-sizing: border-box;
    margin-top: 17px;
    margin-right: 0px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Jarak antar menu sudah diatur di .menu a */
    margin-left: 0px;
    gap: 0px;
    margin-right: 20px; /* Jarak dari tepi kanan */
    margin-top: 12px;
}

.menu a:hover {
    background: #f2f2f2;
    color: #000000;
    border-color: #222;
}

